@charset "UTF-8";

body {
  font-family: 'Lato';
  margin: 0 auto;
}

main {
  padding-top: 76px;
}

.raleway {
  font-family: 'Raleway';
}

ul {
  list-style-type: none;
}

.scale3 {
  transform: scale(3)
}

.inner {
  margin: 0 auto;
  text-align: center;
  width: 1100px;
}

.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 10000;
}

.header-inner {
  height: 46px;
  padding: 15px 0;
}

.fa-bolt {
  float: left;
  margin-top: 15px;
}

.contact {
  background-color: #74cfae;
  color: #fff;
  display: block;
  float: right;
  font-size: 12px;
  padding: 14px 12px;
  text-decoration: none;
  transition: color 0.3s;
}

.contact:hover {
  color: #333;
}

.fa-bars {
  display: none;
}

.title {
  background-color: #f2f2f2;
  width: 100%;
}

.theme {
  padding: 250px 0;
}

.theme-title {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.theme-text {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

.section-what {
  background-color: #74cfae;
  padding-top: 50px;
}

.what-image {
  display: inline-block;
  margin-left: 90px;
  vertical-align: bottom;
}

.what-we-can-do {
  display: inline-block;
  margin-left: 130px;
  vertical-align: top;
}

.what-title {
  color: #fff;
  font-size: 24px;
  margin-top: 20px;
}

.what-text {
  color: #fff;
  line-height: 25px;
  font-size: 20px;
  margin-top: 35px;
  width: 650px;
}

.article-our {
  padding: 60px 0 70px 0;
}

.our-title {
  color: #333;
  font-size: 24px;
}

.our-image {
  letter-spacing: -.4em;
  margin: 40px auto 0 auto;
  z-index: 1;
}

.image-unit {
  display: inline-block;
  margin: 80px 0 0 100px;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.image-unit:hover {
  opacity: 1;
}

.image-unit:nth-child(3n+1) {
  margin-left: 0;
}

.image-unit:nth-child(-n+3) {
  margin-top: 0;
}

.image-unit a {
  display: block;
}

.vertical-align-middle {
  vertical-align: middle;
}

.our-unit {
  margin-top: 90px;
}

.our-text {
  color: #333;
  display: inline-block;
  font-size: 19px;
  line-height: 23px;
  width: 550px;
}

.our-email {
  background-color: #74cfae;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  margin-left: 90px;
  padding: 14px 20px;
  text-decoration: none;
  transition: color 0.3s;
  vertical-align: top;
}

.our-email:hover {
  color: #333;
}

.section-skill {
  background-color: #4e4e4e;
  padding: 70px 0 100px 0;
}

.skill-title {
  color: #fff;
  font-size: 20px;
}

.skill-image {
  margin-top: 70px;
}

.circle-image {
  display: inline-block;
  margin-left: 180px;
}

.circle-image:first-child {
  margin-left: 0;
}

.skill-text {
  color: #fff;
  font-size: 16px;
  margin-top: 15px;
}

.nav-sns {
  padding: 200px 0;
}

.sns-title {
  text-align: center;
}

.sns-unit {
  display: inline-block;
  line-height: 120px;
  transition: background-color 0.3s;
  width: 185px;
}

.sns-unit:hover {
  background-color: #fff;
}

.sns-unit a {
  display: block;
}

.sns-color {
  color: #74cfae;
}

.footer {
  background-color: #74cfae;
  width: 100%;
}

.footer-inner {
  padding: 20px 0 25px 0;
}

.footer-text {
  color: #fff;
  margin-left: 800px;
}

@media screen and (max-width: 1199px) {

  .inner {
    width: 97%;
  }
  
  .section-what {
    padding: 50px 0 25px;
  }

  .what-image {
    display: inline;
    margin: 0 auto;
    vertical-align: middle;
  }
  
  .what-we-can-do {
    display: inline;
    margin: 20px auto 0;
    vertical-align: middle;
  }
  
  .what-text {
    width: auto;
  }
  
  .image-unit {
    display: block;
    margin: 0;
  }
  
  .image-unit:nth-child(4) {
    margin-top: 80px;
  }

  .our-unit {
    margin-top: 80px;
  }

  .our-text {
    display: inline;
    width: auto;
  }
  
  .our-email {
    margin: 40px 0 0 0;
  }
  
  .skill-image {
    margin-top: 30px;
  }
  
  .circle-image {
    display: block;
    margin: 88px 0 0 0;
  }
  
  .circle-image:first-child {
    margin-top: 0;
  }
  
  .footer-text {
    margin-left: 70%;
  }

}

@media screen and (max-width: 767px) {
  
  .contact {
    display: none;
  }

  .fa-bars {
    border : 1px solid #ddd;
    border-radius: 4px;
    display: inline;
    float: right;
    padding: 10px;
    margin-left: 70%;
    opacity: 0.3;
    transform: scale(1.3, 1);
  }
  
  .theme {
    padding: 80px 0 130px;
  }
  
  .theme-title {
    margin: 0 auto;
    width: auto;
  }
  
  .theme-text {
    margin: 20px auto 0;
    width: auto;
  }
  
  .section-what {
    padding: 50px 0 25px;
  }
  
  .what-text {
    margin: 35px auto 0 auto;
  }
  
  .image-unit:nth-child(4) {
    margin-top: 80px;
  }

  .our-text {
    margin: 0 auto;
  }
  .our-email {
    margin-top: 40px;
  }
  
  .skill-image {
    margin-top: 30px;
  }
  
  .nav-sns {
    padding: 50px 0;
  }
  
  .sns-unit {
    width: 100%;
  }
  
  .footer-text {
    margin-left: 30%;
  }

}